html {
  font-size: 10px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}


body{
  background-color: #f9fffe;
  font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

p {
  margin-bottom: 1rem;
}



.container {
  width: 100%;
  max-width: 1140px;
  margin: auto;
  padding: 2em;
}

/* #small_screen_warning {
  position: relative;
  z-index: 200;
  background-color: rgb(255, 60, 0);
  font-size: 2.25rem;
  color: #000000;
  padding: 2em;
} */

#sections {
  position: relative;
  display: inline-block;
  width: 100%;
  top: 0px;
  visibility: hidden;
}

.step {
  position: relative;
  overflow: hidden;
}

.step_text {
  position: relative;
  width: 100%;
  color: #000000;
  font-size: 1.5rem;
}

@media screen and (orientation: landscape){
  .step_text {
    z-index: 100;
  }

  .step.left {
    width: 30%;
    margin-left: 3%;
  }

  .step .legend {
    position: fixed;
    bottom: 2em;
    left: 33%;
    width: 67%;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
  }
}
@media screen and (orientation: portrait) {
  .step_text {
    z-index: -100;
  }

  .step.container .step_text {
    z-index: 100;
  }

  .step.left {
    margin-left: 2em;
    margin-right: 2em;
  }

  .step .legend {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 2em;
    z-index: 100;
  }
}




.step_text p {
  width: max-content;
  max-width: 100%;
  background-color: #f9fffee1;
  padding: 8px;
  border-bottom: 3px solid #c966cc; 
  border-right: 3px solid #7dcc66; 
}



.step.container .legend {
  position: fixed;
  bottom: 2em;
  left: 0;
  width: 100%;
  text-align: center;
}

.step .legend p {
  font-size: 1.25rem;
}

.step .legend p.footnote {
  color: rgb(63, 63, 63);
  font-size: 0.875rem;
}



#vis {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

#vis svg {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(249,255,254,1) 0%, rgba(249,255,254,0.95) 70%, rgba(249,255,254,0) 80%, rgba(249,255,254,0) 100%);
}

#historical_chart {
  width: 100%;
  height: 100%;
}

.centered {
  text-align: center;
}

.femme, .homme {
  color: whitesmoke;
  border-radius: 3px;
  padding: 0 2px;
  /* display: inline-block; */
  /* vertical-align: middle; */
}

.femme {
  background-color: #813bb0;
}

.homme {
  background-color: #cda318;
}

.colophon {
  position: relative;
  z-index: 100;
  max-width: 760px;
  margin: auto;
  margin-top: 150px;
  text-align: left;
  font-size: 1.25rem;
  color: rgb(63, 63, 63);
}

h1 {
  font-size: 6rem;
  padding: 5px;
  background-color: #f9fffec9;
  /* font-family: "Cambria", "Rockwell", "Ogg", serif; */
}

h2 {
  font-size: 2.25rem;
  margin-bottom: 0.5rem;
}