.centered {
  text-align: center;
}

* {
  font-family: -apple-system,"Segoe UI","Roboto","Ubuntu","Cantarell","Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

article, header, footer {
  max-width: 560px;
  margin: auto;
}