#calendar-container {
    gap: 5px;
    align-items: stretch;
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */
    padding: 10px;
    margin-bottom: 20px;
    justify-content: center;
}

@media (min-width: 1800px) {
    #calendar-container {
        grid-template-columns: repeat(12, minmax(100px, 200px));
    }
}

@media (min-width: 900px) and (max-width: 1799px) {
    #calendar-container {
        grid-template-columns: repeat(6, minmax(100px, 200px));
    }
}

@media (min-width: 600px) and (max-width: 899px) {
    #calendar-container {
        grid-template-columns: repeat(4, minmax(100px, 200px));
    }
}

@media (min-width: 450px) and (max-width: 599px) {
    #calendar-container {
        grid-template-columns: repeat(3, minmax(100px, 200px));
    }
}

@media (min-width: 300px) and (max-width: 449px) {
    #calendar-container {
        grid-template-columns: repeat(2, minmax(100px, 200px));
    }
}

@media (max-width: 299px) {
    #calendar-container {
        grid-template-columns: 1fr;
    }
}

#summary_plot_legend {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    gap: 15px;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    #summary_plot_legend {
        justify-content: space-between;
    }
}

#summary_plot_legend .legend-icon {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5px;
}

.formulaire-filtre-dates {
    padding: 5px;
}

.formulaire-filtre-dates fieldset {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 5px;
}

@media screen and (max-width: 600px) {
    .formulaire-filtre-dates fieldset {
        flex-direction: column;
    }
}

body {
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 20px;
}

.text {
    max-width: 760px;
    margin: 0 auto;
}

.text p {
    margin-bottom: 0.75em;
}

.warning {
    border: 1px solid orange;
    border-radius: 5px;
    padding: 10px;
    background-color: cornsilk;
    font-size: 0.8em;
    margin-top: 1em;
}

details {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: whitesmoke;
}

details summary {
    cursor: pointer;
    font-weight: bold;
}

footer {
    background-color: whitesmoke;
    padding: 10px;
    margin-top: 10px;
}
