---
permalink: "about.html"
---
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Des expériences en data science et data journalism" />
    <meta name="author" content="Robin Devooght" />
    <title>Robin Devooght</title>
    <link href="css/reset.css" rel="stylesheet" />
    <link href="css/tachyons.min.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
    <script src="js/randomWalker.js"></script>
    {% include 'analytics.njk' %}
  </head>
  <body>

      <canvas id="canvas"></canvas>

    <header class="pa3">
      <h1 class="f1 lh-solid">Robin Devooght</h1>
      <nav>
        <a href="index.html" class="f6 link br2 ba ph3 pv2 mb2 dib dark-blue hover-white hover-bg-dark-blue">Blog</a>
        <a href="about.html" class="f6 link dim br2 ph3 pv2 mb2 dib white bg-dark-blue">A propos</a></li>

      </nav>
    </header>
    <!-- Main Content-->
    <main class="pa3">

      <!-- Post preview-->
      <article class="pv4 f4 lh-copy">
        <p class="mb2">
          Informaticien, je m’intéresse à l’analyse de données, à la visualisation et au développement web.
        </p>
        <p class="mb2">
          Si vous êtes intéressé par mon travail ou si vous voulez me proposer un projet ou une collaboration, n'hésitez pas à me contacter par mail: robin.devooght[at]mailo.com
        </p>
      </article>
    </main>

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
  <script>
  const canvas = document.getElementById('canvas');
  randomWalker(canvas)
  </script>
</html>
