---
permalink: "index.html"
---
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="{{ metadata.description }}" />
    <meta name="author" content="{{ metadata.author.name }}" />
    <title>{{ metadata.title }}</title>
    <link href="css/reset.css" rel="stylesheet" />
    <link href="css/tachyons.min.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
    <script src="js/randomWalker.js"></script>
    {% include 'analytics.njk' %}
  </head>
  <body>
    <canvas id="canvas"></canvas>
    <header class="pa3">
      <h1 class="f1 lh-solid">{{ metadata.title }}</h1>
      <nav>
          <a href="{{ '/' | url }}" class="f6 link dim br2 ph3 pv2 mb2 dib white bg-dark-blue">Blog</a></li>
        <a href="{{ 'about.html' | url }}" class="f6 link br2 ba ph3 pv2 mb2 dib dark-blue hover-white hover-bg-dark-blue">A propos</a>

      </nav>
    </header>
    <!-- Main Content-->
    <main class="pa3">
{%- for post in collections.posts -%}
{%- set borderClass = "pv4 bt bb b--black-10" if loop.first else "pv4 bb b--black-10" %}
      <article class="{{ borderClass }}">
        <a href="{{ post.url }}" class="no-underline navy link hover-dark-blue">
          <h2 class="f3">{{ post.data.title }}</h2>
          <h3 class="f4 normal">{{ post.data.description }}</h3>
        </a>
        <p class="mt1 gray">
          Publié le {{ post.date | formatDateFrench }}
        </p>
      </article>
{%- endfor %}
    </main>
    <!-- Footer-->
    <footer class="pa3 tc">
      <p>
        Contact: robin.devooght[at]mailo.com
      </p>
      <p class="mt2">
      <a href="rss.xml" class="link gold ph3 pv2 mb2">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
          <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm1.5 2.5c5.523 0 10 4.477 10 10a1 1 0 1 1-2 0 8 8 0 0 0-8-8 1 1 0 0 1 0-2zm0 4a6 6 0 0 1 6 6 1 1 0 1 1-2 0 4 4 0 0 0-4-4 1 1 0 0 1 0-2zm.5 7a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
        </svg>
      </a>
      </p>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
  <script>
  const canvas = document.getElementById('canvas');
  randomWalker(canvas)
  </script>
</html>
