---
permalink: "sitemap.xml"
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>{{ metadata.url }}/</loc>
    <lastmod>{{ page.date | dateToRfc3339 }}</lastmod>
    <priority>1.00</priority>
  </url>
  <url>
    <loc>{{ metadata.url }}/about.html</loc>
    <lastmod>{{ page.date | dateToRfc3339 }}</lastmod>
    <priority>0.80</priority>
  </url>
  {%- for post in collections.posts %}
  <url>
    <loc>{{ metadata.url }}{{ post.url }}</loc>
    <lastmod>{{ post.date | dateToRfc3339 }}</lastmod>
    <priority>0.80</priority>
  </url>
  {%- endfor %}
</urlset>
