h1 {
    --pico-font-size: 3rem;
}

.narrow {
    max-width: 700px;
    /* margin: auto; */
}

.container {
    max-width: 950px;
    /* margin-top: 50px; */
}

.central_illustration {
    display: block;
    /* margin: auto; */
    max-width: 100%;
    height: auto;
    margin-bottom: 30px;
}

footer {
    background-color: var(--pico-background-color);
    position: relative;
}

footer::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    height: 1px;
    width: 50%;
    transform: translateX(-50%) translateY(-1px);
    background-color: #ffffff;
}

.footnotes {
    font-size: 0.875em;
    color: var(--pico-muted-color);
}

.footnotes li,
.footnotes p {
    color: var(--pico-muted-color);
}
