html {
    font-size: 20px;
}

body {
    background-color: #f9fffe;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

#main-content {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

#intro, #colophon {
    max-width: 800px;
    margin: auto;
}

h1 {
    font-size: 2.25rem;
    /* font-weight: bold; */
    margin: 1em 20px 10px;
    color: #032B3A;
}

p {
    margin: 10px 20px;
}

a {
    color: #3476a2;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

h2 {
    font-size: 1.5rem;
    margin: 1em 10px 10px;
    color: #032B3A;
}

h3 {
    font-size: 1.25rem;
    margin-bottom: 10px;
    color: #032B3A;
}

h4 {
    color: #032B3A;
    font-size: 1.1rem;
    font-style: italic;
    margin: 0;
    margin-top: 15px;
}

.chart {
    background-color: #F4F4F4;
}



.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.c-femme {
    color: #813bb0;
}

/*
    Explorer area
*/

#explorer {
    /* display: grid; */
    grid-template-columns: 300px 1fr;
    background-color: #f4f4f4;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    position: relative;
}

#top-selectors {
    margin-bottom: 15px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}

#top-selectors > div {
    flex: auto;
}

.tip {
    text-align: center;
    font-size: 0.8rem;
    margin-top: 20px;
}

/* 
 Side bar
*/
#side-selectors {
    width: 300px;
    position: absolute;
    left: 0;
    top: 0;
  
    

    background-color: #f9fffe;
    border: 1px solid gray;
    box-shadow: 3px 1px 5px 0px rgba(0, 0, 0, 0.75);

    padding: 10px;
    box-sizing: border-box;
}
  
.sidebar-toggle {
    display: block;
    position: absolute;
    top: 50px;
    left: 298px;
    padding: 4px 11px;
    text-align: center;
    border: 1px solid gray;
    border-left: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    background-color: #f9fffe;
}
  
input#toggler {
    display: none;
}
  
/* Toggler Functionality */
input#toggler:checked ~ aside {
    left: -300px;
}

.button-selector.vertical-selector .buttons {
    display: inline-block;
    width: 100%;
}

.button-selector.vertical-selector button {
    display: block;
    width: 100%;
    background: white;
    border: 1px solid gray;
    color: black;
    padding: 5px;
    font-size: 0.9rem;
    margin: 0;
}

.button-selector.vertical-selector button:first-child {
    border-radius: 5px 5px 0 0;
}

.button-selector.vertical-selector button:last-child {
    border-radius: 0 0 5px 5px;
}

.button-selector.vertical-selector button:not(:last-child) {
    border-right: 1px solid gray;
    border-bottom: none;
}

.button-selector.vertical-selector .buttons {
    display: inline-block;
    width: 100%;
}

.filter-group ul li {
    cursor: pointer;
    display: block;
    width: 100%;
    background: white;
    border: 1px solid gray;
    color: black;
    padding: 5px;
    font-size: 0.9rem;
    margin: 0;
}

.filter-group ul li label{
    cursor: pointer;
}

.filter-group ul li:first-child {
    border-radius: 5px 5px 0 0;
}

.filter-group ul li:last-child {
    border-radius: 0 0 5px 5px;
}

.filter-group ul li:not(:last-child) {
    border-right: 1px solid gray;
    border-bottom: none;
}

.filter-group ul li:hover {
    background-color: gray;
    color: white;
}

.filter-group ul {
    max-height: 300px;
    overflow-y: auto;
}

.filter-clear {
    font-size: 0.75rem;
    cursor: pointer;
}


/*
    Years selector
*/

#years-selector {
    margin: 0 auto 15px;
    width: fit-content;
    line-height: 37px;
}

#years-selector .buttons {
    display: inline-block;
    border-bottom: 1px solid gray;
}

#years-selector button {
    background: none;
    border: none;
    color: black;
    padding: 5px;
    margin: 5px;
    font-size: 0.9rem;
}

#years-selector button.active, #years-selector button:hover {
    background-color: gray;
    /* border: 1px solid gray; */
    border-radius: 3px;
    color: white;
    padding: 5px;
    margin: 5px;
}

/*
    Grouper selector
*/

.button-selector {
    margin: 0 auto 15px;
    width: fit-content;
    line-height: 37px;
}

.button-selector .buttons {
    display: inline-block;
}

.button-selector button {
    background: white;
    border: 1px solid gray;
    color: black;
    padding: 5px;
    font-size: 0.9rem;
}

.button-selector button:hover {
    background-color: gray;
    color: white;
}

.button-selector button.active {
    background-color: #0d6efd;
    color: white;
}

.button-selector button:first-child {
    border-radius: 5px 0 0 5px;
}

.button-selector button:last-child {
    border-radius: 0 5px 5px 0;
}

.button-selector button:not(:last-child) {
    border-right: none;
}

@media only screen and (min-width: 1500px) {
    #explorer {
        display: grid;
        grid-template-columns: 300px 1fr;
    }
    
    #side-selectors {
        border: none;
        box-shadow: none;
        grid-column: 1;
        grid-row: 1;
        position: static;
        background-color: transparent;
    }
      
    .sidebar-toggle {
        display: none;
    }
      
    input#toggler:checked ~ aside {
        left: 0;
    }

    #main-explorer-content {
        grid-column: 2;
        grid-row: 1;
    }
}

/* 
    Colophon
*/

#colophon p {
    font-size: 0.9rem;
}

.social_media {
    margin: 1.5rem 20px 0;
}

.social_media a {
    color: rgb(63, 63, 63);
    text-decoration: none;
}

.social_media a svg {
    height: 2rem;
    width: 2rem;
    margin-right: 5px;
}

.social_media .bi-rss-fill:hover {
    color: #f59237;
}

.social_media .bi-facebook:hover {
    color: #3b5998;
}

.social_media .bi-twitter:hover {
    color: #1da1f2;
}

.social_media .bi-linkedin:hover {
    color: #0077b5;
}

/* Timeline */

#timeline {
    position:fixed;
    top: 50%;
    left: 50%;
    width: 760px;
    margin-left: -380px;
    margin-top: -300px;
    background-color: #f9fffe;
    box-shadow: 3px 1px 5px 0px rgba(0, 0, 0, 0.75);
    padding: 20px;
    display: none;
}

@media only screen and (max-width: 800px) {
    #timeline {
        width: 90%;
        margin-left: -45%;
    }
}

.close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    font-size: 30px;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
}

.share {
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    font-size: 30px;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
}

#timeline .share {
    left: 15px;
}

.temp-message {
    margin: 0;
    padding: 3px 10px;
    font-size: 0.75rem;
    color: whitesmoke;
    background-color: rgb(29, 28, 28);
    border-radius: 5px;
}

#timeline-active-filters {
    font-size: 0.75rem;
}
#timeline-active-filters p{
    margin: 10px;
}
#timeline-active-filters ul {
    margin: 10px;
    list-style-type: disc;
}
#timeline-active-filters ul li {
    margin-left: 30px;
}

#empty-data {
    display: none;
    margin-top: 50%;
    width: fit-content;
    margin: auto;
    font-size: 1.5em;
    line-height: 1.5em;
    padding: 10px;
    background-color: #f59237;
    color: white;
    border-radius: 5px;
}

