<script
    defer
    src="https://app-static.sitesights.io/client.min.js?v=1"
    data-website-uid="_6m5fZ22OkGEghP2myQEDw"
></script>
<script defer type="module">
    MDAL.pageView({
        Absolute: null,
        ClientId: null,
    });
</script>
