<!doctype html>
<html>
    <head>
        <!-- Primary Meta Tags -->
        <title>Genre et temps de parole au parlement wallon</title>
        <meta
            name="title"
            content="Genre et temps de parole au parlement wallon"
        />
        <meta
            name="description"
            content="Les hommes occupent plus de 80% du temps de parole au parlement wallon. Une plongée visuelle dans cette inégalité."
        />

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website" />
        <meta
            property="og:url"
            content="https://blog.robindevooght.be/posts/genre_au_parlement_wallon/"
        />
        <meta
            property="og:title"
            content="Genre et temps de parole au parlement wallon"
        />
        <meta
            property="og:description"
            content="Les hommes occupent plus de 80% du temps de parole au parlement wallon. Une plongée visuelle dans cette inégalité."
        />
        <meta
            property="og:image"
            content="https://blog.robindevooght.be/posts/genre_au_parlement_wallon/img/meta.png"
        />

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image" />
        <meta
            property="twitter:url"
            content="https://blog.robindevooght.be/posts/genre_au_parlement_wallon/"
        />
        <meta
            property="twitter:title"
            content="Genre et temps de parole au parlement wallon"
        />
        <meta
            property="twitter:description"
            content="Les hommes occupent plus de 80% du temps de parole au parlement wallon. Une plongée visuelle dans cette inégalité."
        />
        <meta
            property="twitter:image"
            content="https://blog.robindevooght.be/posts/genre_au_parlement_wallon/img/meta.png"
        />

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous"> -->
        <link rel="stylesheet" type="text/css" href="css/style.min.css" />

        {% include 'analytics.njk' %}
    </head>
    <body>
        <div>
            <div id="sections">
                <!-- <div id="small_screen_warning">
      <p>
        Votre écran est trop petit pour afficher correctement cet article.<br>
        Certaines partie risques d'être difficilement lisibles
      </p>
      <p>Si vous en avez l'occasion, lisez-le sur un ordinateur</p>
    </div> -->
                <section class="step container">
                    <div class="step_text">
                        <h1>Genre et temps de parole au parlement wallon</h1>
                        <p class="mb20">
                            La Wallonie compte plus de 3,6 millions
                            d'habitant·es, chacun·e ayant son histoire, ses
                            opinions, son identité.
                        </p>
                        <p class="mb20">
                            Pour les représenter, 75 député&middot;es sont
                            élu&middot;es pour s'exprimer et débattre au sein du
                            parlement wallon.
                        </p>
                        <p class="mb50">
                            Mais qui s'exprime réellement au parlement ?
                        </p>
                    </div>
                </section>
                <section class="step left">
                    <div class="step_text">
                        <p class="mb30 smb50 mt30">
                            Pour arriver au parlement, il faut d'abord être sur
                            une liste électorale.
                        </p>
                        <p class="smb30">
                            En 2019, 18 partis ont présenté 757
                            candidat&middot;es effectif&middot;ves et 789
                            suppléant&middot;es.
                        </p>
                    </div>
                    <div class="legend">
                        <p>
                            757 candidat&middot;es effectif&middot;ves des
                            élections régionales de mai 2019.
                        </p>
                    </div>
                </section>
                <section class="step left">
                    <div class="step_text">
                        <p class="mb30 smb50">
                            Tou&middot;tes les candidat&middot;es doivent
                            s'identifier comme "homme" ou "femme", et les listes
                            doivent respecter la parité.
                        </p>
                        <p class="mb80">
                            Cela dit, les listes de longueur impaire auront soit
                            un homme soit une femme en plus, et déjà une
                            inégalité apparaît: on trouve sur les listes 51%
                            d'hommes, alors qu'ils représentent 48% de la
                            population adulte
                            <a
                                href="https://statbel.fgov.be/fr/themes/population/structure-de-la-population#panel-14"
                                ><img
                                    src="img/external-link-blue.svg"
                                    height="16px"
                                    style="vertical-align: text-top"
                            /></a>
                        </p>
                    </div>
                    <div class="legend">
                        <p>
                            <span class="femme">369 femmes</span> et
                            <span class="homme">388 hommes</span>
                            candidat&middot;es effectif&middot;ves des élections
                            régionales de mai 2019.
                        </p>
                    </div>
                </section>
                <section class="step left h50">
                    <div class="step_text">
                        <p class="smb70">
                            26 mai 2019, ce sont les élections. 2,2 millions de
                            personnes votent et élisent 31 femmes et 44 hommes.
                        </p>
                    </div>
                    <div class="legend">
                        <p>
                            <span class="femme">31 femmes</span> et
                            <span class="homme">44 hommes</span> élu&middot;es
                            le 26 mai 2019.
                        </p>
                    </div>
                </section>
                <section class="step left">
                    <div class="step_text">
                        <p>
                            Démarrent alors les négociations gouvernementales.
                            Certain&middot;es élu&middot;es deviennent ministres
                            ou refusent leur place au parlement et sont alors
                            remplacé&middot;es par leur suppléant&middot;e.
                        </p>
                    </div>
                    <div class="legend">
                        <p>
                            <span class="femme">31 femmes</span> et
                            <span class="homme">44 hommes</span> élu&middot;es
                            le 26 mai 2019.
                        </p>
                    </div>
                </section>
                <section class="step container">
                    <div class="step_text">
                        <p class="mb40">
                            Au final, le parlement compte 28 femmes et 47
                            hommes.
                        </p>
                        <p style="position: absolute; right: 0">
                            Et l'on compte 3 femmes et 5 hommes parmi les
                            ministres.
                        </p>
                    </div>
                    <div class="legend">
                        <p>
                            Composition du parlement et du gouvernement de la
                            région wallonne en janvier 2020.
                        </p>
                        <p class="footnote">
                            N.B: Christophe Collignon a remplacé Pierre-Yves
                            Dermagne à partir d'octobre 2020. <br />
                            Dans les graphiques qui montrent le temps de parole
                            des ministres et député&middot;es en 2020, nous
                            représenterons à la fois C. Collignon et P.-Y.
                            Dermagne.
                        </p>
                    </div>
                </section>
                <section class="step left">
                    <div class="step_text">
                        <p class="mb40">
                            Ces 31 femmes et 52 hommes sont les personnes qui
                            ont accès à la parole au parlement wallon, et sont
                            censées représenter l'ensemble de la population
                            wallonne.
                        </p>
                    </div>
                    <div class="legend">
                        <p>
                            <span class="femme">31 femmes</span> et
                            <span class="homme">52 hommes</span>,
                            député&middot;es ou ministres en janvier 2020.
                        </p>
                    </div>
                </section>
                <section class="step left">
                    <div class="step_text">
                        <p class="mb40">
                            Là aussi, la répartition se fait en faveur des
                            hommes, qui occupent 82% du temps de parole, alors
                            qu'ils occupent 63% des sièges.
                        </p>
                        <p class="mb60">
                            Plusieurs mécanismes se cachent derrière cette
                            inégalité.
                        </p>
                    </div>
                    <div class="legend">
                        <p>
                            La taille des bulles est proportionnelle aux nombre
                            de mots prononcés au parlement wallon en 2020.
                        </p>
                    </div>
                </section>
                <section class="step left">
                    <div class="step_text">
                        <p>
                            Regardons d'abord le sommet du classement. Les 10
                            personnes parlant le plus représentent à elles
                            seules 62% du temps de parole total.
                        </p>
                        <p>
                            On ne retrouve dans ce top 10 que des personnes
                            ayant un rôle particulier:
                            <em>président du parlement</em>,
                            <em>président de groupe</em> ou <em>ministre</em>.
                        </p>
                        <p class="smt50">
                            Or, le président du parlement et tous les présidents
                            de groupe sont des hommes, tout comme la plupart des
                            ministres.
                        </p>
                        <p class="mb30">
                            Cette répartition inégale des rôles est l'un des
                            principaux mécanismes menant aux inégalités de temps
                            de parole.
                        </p>
                    </div>
                    <div class="legend">
                        <p>
                            10 personnes ayant le plus parlé au parlement wallon
                            en 2020.
                        </p>
                    </div>
                </section>
                <section class="step left">
                    <div class="step_text">
                        <p class="mb20">
                            Enlevons maintenant les 9 ministres et 6 présidents
                            pour regarder les 69 "simples" député&middot;es.
                        </p>
                        <p>
                            Ici, les temps de paroles semblent se répartir de
                            manière un peu plus homogène.
                        </p>
                    </div>
                    <div class="legend">
                        <p>
                            Basé sur le temps de parole des
                            <span class="femme">28 femmes</span> et
                            <span class="homme">41 hommes</span> "simples"
                            député&middot;es en 2020 (ni présidents, ni
                            ministre).
                        </p>
                    </div>
                </section>
                <section class="step left">
                    <div class="step_text">
                        <p class="mb20 smb5">
                            En regardant le nombre d'interventions et la
                            longueur moyenne des interventions de chacun·e, on
                            remarque tout de même des comportements individuels
                            très différents.
                        </p>
                        <p>
                            On retrouve cette diversité chez les députées comme
                            chez les députés, et il est difficile de distinguer
                            les deux groupes.
                        </p>
                    </div>
                    <div class="legend">
                        <p>
                            Basé sur le temps de parole des
                            <span class="femme">28 femmes</span> et
                            <span class="homme">41 hommes</span> "simples"
                            député&middot;es en 2020 (ni présidents, ni
                            ministre).
                        </p>
                    </div>
                </section>
                <section class="step left">
                    <div class="step_text">
                        <p>
                            Cela dit, en regardant le comportement moyen des
                            hommes et des femmes, on trouve des différences:
                        </p>
                        <p class="mb10 smb50">
                            Les hommes prennent la parole plus régulièrement et
                            font des interventions un tout petit peu plus
                            longues.
                        </p>
                        <p class="mb30">
                            Au total, parmi les député&middot;es n'ayant pas de
                            rôle particulier, chaque homme parle en moyenne 20%
                            de plus que les femmes.
                        </p>
                    </div>
                    <div class="legend">
                        <p>
                            Basé sur le temps de parole des
                            <span class="femme">28 femmes</span> et
                            <span class="homme">41 hommes</span> "simples"
                            député&middot;es en 2020 (ni présidents, ni
                            ministre).
                        </p>
                    </div>
                </section>
                <section class="step left">
                    <div class="step_text">
                        <p class="mb20">
                            C'est en combinant tous ces facteurs: nombre de
                            sièges, répartition des rôles, nombre
                            d'interventions et durée des interventions que l'on
                            arrive à cette inégalité extrême: 82% du temps de
                            parole au parlement est occupé par les hommes.
                        </p>
                        <p class="mb40">
                            Comme si à chaque fois qu'une wallonne parlait 5
                            minutes, un wallon en parlait presque 25.
                        </p>
                    </div>
                    <div class="legend">
                        <p>
                            Temps de parole des femmes et hommes
                            (député&middot;es et ministres) au parlement wallon
                            en 2020.
                        </p>
                        <p class="footnote">
                            La fonction du président du parlement lui impose de
                            prendre très régulièrement la parole, pour modérer
                            le débat ou pour introduire un sujet. Il peut donc
                            être pertinent d'exclure sa participation de
                            l'analyse. Cela dit, même en retirant le président
                            du parlement, les hommes occupent encore plus de 75%
                            du temps de parole.
                        </p>
                    </div>
                </section>
                <section class="step left h40">
                    <div class="step_text">
                        <p>C'était la situation en 2020.</p>
                    </div>
                    <div class="legend">
                        <p>
                            Temps de parole des femmes (député&middot;es et
                            ministres) au parlement wallon entre 2015 et 2021*
                        </p>
                        <p class="footnote">
                            *le temps de parole de 2021 est calculé sur la
                            période de janvier à juillet.
                        </p>
                    </div>
                </section>
                <section class="step left h60">
                    <div class="step_text">
                        <p>
                            Si l'on regarde l'évolution au cours des dernières
                            années, on observe une amélioration.
                        </p>
                    </div>
                    <div class="legend">
                        <p>
                            Temps de parole des femmes (député&middot;es et
                            ministres) au parlement wallon entre 2015 et 2021*
                        </p>
                        <p class="footnote">
                            *le temps de parole de 2021 est calculé sur la
                            période de janvier à juillet.
                        </p>
                    </div>
                </section>
                <section class="step left">
                    <div class="step_text">
                        <p>
                            Cela dit, au rythme actuel, il faudrait attendre
                            encore 25 ans pour voir une égalité de temps de
                            parole entre hommes et femmes au parlement wallon.
                        </p>
                    </div>
                    <div class="legend">
                        <p>
                            Temps de parole des femmes (député&middot;es et
                            ministres) au parlement wallon entre 2015 et 2021*
                            et projection pour le futur.
                        </p>
                        <p class="footnote">
                            *le temps de parole de 2021 est calculé sur la
                            période de janvier à juillet.
                        </p>
                    </div>
                </section>
                <section class="step container">
                    <div class="step_text centered">
                        <img src="img/journal.png" style="max-width: 90%" />
                    </div>
                    <div class="colophon">
                        <h2>A propos</h2>
                        <p>
                            Recherche, écriture et graphiques par
                            <a href="https://blog.robindevooght.be"
                                >Robin Devooght</a
                            >
                        </p>
                        <p>
                            Intéressé·e par la situation au niveau fédéral ? Les
                            résultats sont ici:
                            <a
                                href="https://blog.robindevooght.be/posts/chambre_des_representant-es/"
                                >La Chambre des représentant·es</a
                            >.
                        </p>
                        <p>
                            La conception de cet article a commencé par la
                            création d’une base de données de toutes les
                            interventions au parlement wallon de 2015 à 2021,
                            sur base des comptes rendus mis à disposition par
                            <a
                                href="https://www.parlement-wallonie.be/opendata/"
                                >le parlement</a
                            >. Cette base de données a permis de compter, pour
                            chaque intervenant&middot;e, le nombre de mots
                            prononcés pendant les séances plénières du parlement
                            wallon, puis de voir comment ces prises de paroles
                            se répartissaient entre hommes et femmes. J’ai
                            utilisé par facilité l’expression “temps de parole”,
                            mais pour être exact il faudrait donc parler de
                            nombre de mots prononcés et non de durée
                            d’interventions.
                        </p>
                        <p>
                            Les inégalités liées au genre, aussi extrêmes
                            soient-elles, ne sont qu’un des facteurs qui se
                            combinent pour créer les inégalités de
                            représentations dans nos parlements et nos
                            gouvernements. Il serait intéressant d’étudier cette
                            base de données de manières plus détaillées, en
                            tenant compte d’autres indicateurs comme l'âge, le
                            milieu socio-économique, l’origine, etc.
                        </p>
                        <p>
                            Si vous êtes intéressé·e par ces données, ou par des
                            données similaires au niveau du parlement fédéral
                            (la chambre des représentants), n'hésitez pas à me
                            contacter: robin.devooght[at]mailo.com
                        </p>
                        <p>
                            Les graphiques et animations sont réalisés à l’aide
                            de la librairie
                            <a href="https://d3js.org/">D3.js</a>, et du
                            scroller écrit par
                            <a href="https://vallandingham.me/scroller.html"
                                >Jim Vallandigham</a
                            >. Le code source de cette page ainsi que les
                            données utilisées sont disponibles sur
                            <a
                                href="https://github.com/rdevooght/rdevooght.github.io/tree/main/posts/genre_au_parlement_wallon"
                                >github</a
                            >.
                        </p>
                        <div class="social_media">
                            <a
                                href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fblog.robindevooght.be%2Fposts%2Fgenre_au_parlement_wallon"
                                target="_blank"
                                OnClick="window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=600'); return false;"
                            >
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="16"
                                    height="16"
                                    fill="currentColor"
                                    class="bi bi-facebook"
                                    viewBox="0 0 16 16"
                                >
                                    <path
                                        d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"
                                    />
                                </svg>
                            </a>
                            <a
                                href="https://www.twitter.com/share?url=https%3A%2F%2Fblog.robindevooght.be%2Fposts%2Fgenre_au_parlement_wallon"
                                target="_blank"
                                OnClick="window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=600'); return false;"
                            >
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="16"
                                    height="16"
                                    fill="currentColor"
                                    class="bi bi-twitter"
                                    viewBox="0 0 16 16"
                                >
                                    <path
                                        d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"
                                    />
                                </svg>
                            </a>
                            <a
                                href="https://www.linkedin.com/sharing/share-offsite/?url=https%3A%2F%2Fblog.robindevooght.be%2Fposts%2Fgenre_au_parlement_wallon"
                                target="_blank"
                                OnClick="window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=600'); return false;"
                            >
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="16"
                                    height="16"
                                    fill="currentColor"
                                    class="bi bi-linkedin"
                                    viewBox="0 0 16 16"
                                >
                                    <path
                                        d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"
                                    />
                                </svg>
                            </a>
                            <a href="https://blog.robindevooght.be/rss.xml">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="16"
                                    height="16"
                                    fill="currentColor"
                                    class="bi bi-rss-fill"
                                    viewBox="0 0 16 16"
                                >
                                    <path
                                        d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm1.5 2.5c5.523 0 10 4.477 10 10a1 1 0 1 1-2 0 8 8 0 0 0-8-8 1 1 0 0 1 0-2zm0 4a6 6 0 0 1 6 6 1 1 0 1 1-2 0 4 4 0 0 0-4-4 1 1 0 0 1 0-2zm.5 7a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"
                                    />
                                </svg>
                            </a>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <div id="vis">
            <svg></svg>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
        <script src="js/script.min.js"></script>
    </body>
</html>
