<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Primary Meta Tags -->
        <title>2024 vs 2025</title>
        <meta name="title" content="2024 vs 2025" />
        <meta
            name="description"
            content="2024 était une année exceptionnellement pluvieuse, le début de 2025 était anormalement sec. Un an d’écart, deux extrêmes."
        />

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website" />
        <meta
            property="og:url"
            content="https://blog.robindevooght.be/posts/meteo-2024-vs-2025"
        />
        <meta property="og:title" content="2024 vs 2025" />
        <meta
            property="og:description"
            content="2024 était une année exceptionnellement pluvieuse, le début de 2025 était anormalement sec. Un an d’écart, deux extrêmes."
        />
        <meta
            property="og:image"
            content="https://blog.robindevooght.be/posts/meteo-2024-vs-2025/img/meta.png"
        />

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image" />

        <link
            rel="canonical"
            href="https://blog.robindevooght.be/posts/meteo-2024-vs-2025"
        />

        <script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
        <script src="https://cdn.jsdelivr.net/npm/@observablehq/plot@0.6"></script>
        <script
            defer
            src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
        ></script>
        <script src="data.js"></script>
        <script src="scripts/script.js"></script>
        <script src="scripts/plots.js"></script>
        <script src="scripts/geodata.js"></script>
        <script src="scripts/stations-map.js"></script>
        <link rel="stylesheet" href="style/reset.css" />
        <link rel="stylesheet" href="style/style.css" />
{% include 'analytics.njk'%}    </head>
    <body
        x-data="{stations, station: stations[0], stations_with_sun_measure, currently_hovering: null, map_opened: false, colors}"
    >
        <div class="text">
            <h1>
                <span :style="{'border-color': colors[2024]}">2024</span> vs
                <span :style="{'border-color': colors[2025]}">2025</span>
            </h1>
            <p>
                Le changement climatique, ce n’est pas seulement des
                températures plus élevées, c’est aussi des variations plus
                extrêmes. 2024 était une année exceptionnellement pluvieuse,
                2025 commence comme une année anormalement sèche.
            </p>
            <p>
                Un an d’écart, deux extrêmes. De quoi mener la vie dure aux
                agriculteur·ices.
            </p>
        </div>
        <div id="dashboard">
            <div id="station-selector">
                <h2>
                    <span x-text="station.name"></span>
                    <button id="map-opener" @click.stop="showStationPicker()">
                        <svg
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="icon" viewBox="0 0 16 16">
                              <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10"/>
                              <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                            </svg>
                        <p class="hint">
                            Choisissez une station météo
                            <img src="img/right-up-arrow.svg" />
                        </p>
                    </button>
                </h2>

                <dialog id="map-popover">
                    <button id="map-popover-close" @click="hideStationPicker()">
                        Fermer
                    </button>
                    <div
                        id="map-popover-content"
                        @click.away="hideStationPicker()"
                    >
                        <p>
                            <button
                                @click="station = stations[0]; setStation(station)"
                            >
                                Afficher la moyenne belge
                            </button>
                        </p>
                        <p>
                            Ou cliquez sur une station pour voir les données
                            locales:
                        </p>
                        <div
                            @click="station = currently_hovering ? currently_hovering : stations[0]; setStation(station)"
                            id="stations-map"
                        ></div>
                        <ul class="legend">
                            <li>
                                <span
                                    class="dot"
                                    :style="{'background-color': colors.with_sun}"
                                ></span>
                                Données d'ensoleillement disponible
                            </li>
                            <li>
                                <span
                                    class="dot"
                                    :style="{'background-color': colors.without_sun}"
                                ></span>
                                Données d'ensoleillement non disponible
                            </li>
                            <li>
                                <span
                                    class="dot"
                                    :style="{'border': `1px solid ${colors.old_station}`}"
                                ></span>
                                Stations utilisées pour calculer les
                                précipitations moyennes
                            </li>
                        </ul>
                    </div>
                </dialog>
            </div>
            <div id="big-numbers">
                <div
                    class="big-number rain-backdrop"
                    x-data="{get precipitations() {return getPrecipitations(station.code)}}"
                >
                    <h4>Précipitations cummulées<sup>*</sup></h4>
                    <p
                        class="big"
                        x-text="getComparison(precipitations[2024].rain, precipitations[2025].rain)"
                    ></p>
                    <div class="arrow-container">
                        <div class="trend-arrow">
                            <img src="img/horizontal-arrow.png" />
                        </div>
                        <div class="year-compare">
                            <div :style="{'background-color': colors[2024]}">
                                2024<br />
                                <span
                                    x-text="round_formater(precipitations[2024].rain)"
                                ></span
                                >mm
                            </div>
                            <div :style="{'background-color': colors[2025]}">
                                2025<br />
                                <span
                                    x-text="round_formater(precipitations[2025].rain)"
                                ></span
                                >mm
                            </div>
                        </div>
                    </div>
                </div>
                <div
                    class="big-number rain-backdrop"
                    x-data="{get rain_days() {return getRainDays(station.code)}}"
                >
                    <h4>Jours de pluie<sup>*</sup></h4>
                    <p
                        class="big"
                        x-text="getComparison(rain_days[2024].rain, rain_days[2025].rain)"
                    ></p>

                    <div class="arrow-container">
                        <div class="trend-arrow">
                            <img src="img/horizontal-arrow.png" />
                        </div>

                        <div class="year-compare">
                            <div :style="{'background-color': colors[2024]}">
                                2024<br />
                                Pluie
                                <span
                                    x-text="round_formater(rain_days[2024].percentage*10)"
                                ></span>
                                jours sur 10
                            </div>
                            <div :style="{'background-color': colors[2025]}">
                                2025<br />
                                Pluie
                                <span
                                    x-text="round_formater(rain_days[2025].percentage*10)"
                                ></span>
                                jours sur 10
                            </div>
                        </div>
                    </div>
                </div>

                <div
                    class="big-number sun-backdrop"
                    x-show="stations_with_sun_measure.includes(station.code)"
                    x-data="{get sun() {return getSunHours(station.code)}}"
                >
                    <h4>Heures d'ensoleillement<sup>*</sup></h4>
                    <p
                        class="big"
                        x-text="getComparison(sun[2024].sun, sun[2025].sun)"
                    ></p>
                    <div class="arrow-container">
                        <div class="trend-arrow">
                            <img src="img/horizontal-arrow.png" />
                        </div>
                        <div class="year-compare">
                            <div :style="{'background-color': colors[2024]}">
                                2024<br />
                                <span
                                    x-text="round_formater(sun[2024].sun)"
                                ></span
                                >h
                            </div>
                            <div :style="{'background-color': colors[2025]}">
                                2025<br />
                                <span
                                    x-text="round_formater(sun[2025].sun)"
                                ></span
                                >h
                            </div>
                        </div>
                    </div>
                </div>

                <div
                    class="big-number sun-backdrop"
                    x-show="!stations_with_sun_measure.includes(station.code)"
                >
                    <h4>Heures d'ensoleillement<sup>*</sup></h4>
                    <p class="missing-data">
                        Données non disponibles pour cette station
                    </p>
                </div>
            </div>
            <p class="footnote">
                <sup>*</sup>Sur la période allant du 1<sup>er</sup> janvier au
                <span x-text="comp_date"></span>
            </p>
            <div id="plots">
                <div class="plot-container rain-backdrop">
                    <h3>Précipitations cummulées (mm)</h3>
                    <div id="precipitations_plot" class="plot"></div>
                </div>
                <div class="plot-container sun-backdrop">
                    <h3>Heures d'ensoleillement</h3>
                    <div id="sun_hours_plot" class="plot"></div>
                    <p
                        x-show="!stations_with_sun_measure.includes(station.code)"
                        class="missing-data"
                    >
                        Données non disponibles pour cette station
                    </p>
                </div>
            </div>

            <div class="plot-container temp-backdrop">
                <h3>Température moyenne par mois (°C)</h3>
                <p>
                    Malgré leurs différences de précipitations et
                    ensoleillement,
                    <span class="year" :style="{'border-color': colors[2024]}"
                        >2024</span
                    >
                    comme
                    <span class="year" :style="{'border-color': colors[2025]}"
                        >2025</span
                    >
                    sont des années plus chaudes que la
                    <span class="year" :style="{'border-color': colors.neutral}"
                        >moyenne</span
                    >.
                </p>
                <div id="temp_plot" class="plot"></div>
            </div>
        </div>

        <footer>
            <div class="text">
                <p>
                    Réalisé par
                    <a href="https://blog.robindevooght.be/">Robin Devooght</a>
                    <a
                        aria-label="Flux RSS"
                        class="ml-2 inline-block text-gray-700 hover:text-orange-400 active:text-orange-400"
                        href="https://blog.robindevooght.be/rss.xml"
                        ><svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="15"
                            height="15"
                            fill="currentColor"
                            viewBox="0 0 16 16"
                            class="icon"
                        >
                            <path
                                d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm1.5 2.5c5.523 0 10 4.477 10 10a1 1 0 1 1-2 0 8 8 0 0 0-8-8 1 1 0 0 1 0-2zm0 4a6 6 0 0 1 6 6 1 1 0 1 1-2 0 4 4 0 0 0-4-4 1 1 0 0 1 0-2zm.5 7a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"
                            /></svg
                    ></a>
                </p>
                <p>
                    Vous pouvez me contacter à robin.devooght[at]mailo.com, ou
                    explorer mes autres projets sur
                    <a
                        href="https://blog.robindevooght.be/posts/search-inflation/"
                        >l’inflation</a
                    >, sur le
                    <a
                        href="https://blog.robindevooght.be/posts/chambre_des_representant-es/"
                        >temps de parole</a
                    >
                    au
                    <a
                        href="https://blog.robindevooght.be/posts/genre_au_parlement_wallon/"
                        >parlement wallon</a
                    >
                    et à la
                    <a
                        href="https://blog.robindevooght.be/posts/chambre_des_representant-es/"
                        >Chambre</a
                    >, sur
                    <a
                        href="https://blog.robindevooght.be/genre_et_listes_electorales/"
                        >la place des femmes dans les listes électorales</a
                    >
                    ou encore sur
                    <a href="https://blog.robindevooght.be/ia_ou_pas/">l'IA</a>
                </p>
            </div>
        </footer>
    </body>
    <script>
        document.addEventListener("alpine:initialized", () => {
            draw_all_plots("belgium");
        });
        window.onresize = (d) =>
            draw_all_plots(Alpine.$data(document.body).station.code);
        function setStation(station) {
            draw_all_plots(station.code);
            hideStationPicker();
        }
    </script>
</html>
