<!doctype html>
<html lang="{{language or metadata.language}}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Primary Meta Tags -->
        <title>
            {{ title }}
        </title>
        <meta
            name="title"
            content="{{ title }}"
        />
        <meta
            name="description"
            content="{{ description }}"
        />

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website" />
        <meta
            property="og:url"
            content="{{ metadata.url }}{{ page.url }}"
        />
        <meta
            property="og:title"
            content="{{ title }}"
        />
        <meta
            property="og:description"
            content="{{ description }}"
        />
        {% if img_card %}
        <meta
            property="og:image"
            content="{{ metadata.url }}{{ img_card | url }}"
        />
        {% endif %}

        <link rel="stylesheet" href="{{ '/css/pico/pico.min.css' | url }}" />
        <link rel="stylesheet" href="{{ '/css/pico/style.css' | url }}" />
        <style>{% getBundle "css" %}</style>
    </head>
    <body>
        {{ content | safe }}
    </body>
    {% getBundle "js" %}
    {% include 'analytics.njk' %}
</html>
